src/main/mule/mytestgitproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="eb122afb-d89e-4a47-981b-4382205adf3b" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="mytestgitprojectFlow" doc:id="6f788f5b-30d8-4285-81d0-d7262dca823c" >
		<http:listener doc:name="Listener" doc:id="f0d60b03-5795-4e76-a864-f2930a947986" config-ref="HTTP_Listener_config" path="/testgit"/>
		<set-payload value='#["Tested"]' doc:name="Set Payload" doc:id="9821654d-da34-4d7f-8a62-f505e717d929" />
	</flow>
</mule>
